{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Shopping Cart" %}{% endblock %}

{% block extraHead %}
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
{% endblock %}

{% block content %}
    <main class="shopping-cart-page">
        <section class="clean-block clean-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">{% trans "Shopping Cart" %}</h2>
                    <p>{% trans "This basket is saved for user: " %}{{ user }}</p>
                </div>
                <div class="content">
                    <div class="row no-gutters">
                        <div class="col-md-12 col-lg-8">
                            <div class="items">
                                {% for basket_item in basket_items %}
                                    <div class="product">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="col-md-3">
                                                <div class="product-image">
                                                    <img class="img-fluid d-block mx-auto image" alt="{{ basket_item.product.main_image.title }}" src="{{ basket_item.product.main_image.image.url }}">
                                                </div>
                                            </div>
                                            <div class="col-md-5 product-info">
                                                <a class="product-name" href="{% url "product_details" slug=basket_item.product.slug %}">
                                                    {{ basket_item.product.name }}
                                                </a>
                                                <div class="product-specs">
                                                    {% for property in basket_item.product.properties.all %}
                                                        <div>
                                                            <span>{{ property.option.name }}:&nbsp;</span>
                                                            <span class="value">{{ property.value }}</span>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-1 quantity">
                                                <label for="quantity-{{ basket_item.id }}" class="d-none d-md-block">{% trans "Quantity" %}</label>
                                                <input type="number" id="quantity-{{ basket_item.id }}" class="form-control quantity-input" value="{{ basket_item.quantity }}" data-basket-item-id="{{ basket_item.id }}">
                                            </div>
                                            <div class="col-6 col-md-3 price">
                                                <span>{{ basket_item.total_price|floatformat:"2" }} ₺</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% if basket_items %}
                                    <div class="float-right" style="margin: 50px 0;">
                                        <button type="submit" class="basket-delete btn btn-toolbar">
                                            <i class="fa fa-trash">
                                                {% trans "Trash the cart" %}
                                            </i>
                                        </button>
                                    </div>
                                {% else %}
                                    <h2>{% trans "Shopping cart is empty." %}</h2>
                                    <h4><a href="/">{% trans "Browse products to add" %}</a></h4>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="summary">
                                <h3>{% trans "Summary" %}</h3>
                                <h4>
                                    <span class="text">{% trans "Subtotal" %}</span>
                                    <span class="price">{{ subtotal|floatformat:"2" }} ₺</span>
                                </h4>
                                <h4>
                                    <span class="text">{% trans "Discount" %}</span>
                                    <span class="price">{{ discount|floatformat:"2" }} ₺</span>
                                </h4>
                                <h4>
                                    <span class="text">{% trans "Shipping" %}</span>
                                    <span class="price">0.0 ₺</span>
                                </h4>
                                <h4>
                                    <span class="text">{% trans "Total" %}</span>
                                    <span class="price">{{ total|floatformat:"2" }} ₺</span>
                                </h4>
                                <h4>
                                    <label for="input-coupon-code" class="text">{% trans "Coupon" %}</label>
                                    <input id="input-coupon-code" class="input-group-text price" style="width: 140px; position: relative; top: -12px;" value="{{ basket.coupon_code|default:"" }}">
                                    <button
                                            class="btn btn-secondary btn-block apply-coupon-code"
                                            style="font-size: 14px; margin-top: 20px;"
                                            type="button"
                                    >
                                        {% if basket.coupon_code %}
                                            {% trans "Change Coupon" %}
                                        {% else %}
                                            {% trans "Apply Coupon" %}
                                        {% endif %}
                                    </button>
                                </h4>
                                <button onclick="window.location.href = '{% url "add_shipment" %}'" class="btn btn-primary btn-block btn-lg" type="button">{% trans "Checkout" %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block extraJS %}
    <script>
        $(document).ready(function () {
            $('#input-coupon-code').blur(function () {
                $('.apply-coupon-code').data('coupon-code', this.value);
            });
        })
    </script>
{% endblock %}