{% extends "base.html" %}
{% load static %}

{% block title %}Payment{% endblock %}
{% block content %}



<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .vertical-menu {
        width: 200px;
        height: 150px;
        overflow-y: auto;
    }

    .vertical-menu a {
        background-color: #eee;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
    }

    .vertical-menu a:hover {
        background-color: #ccc;
    }

    .vertical-menu a.active {
        background-color: crimson;
        color: white;
    }
    .btn-group button {
        background-color: crimson;
        border: 2px solid white;
        color: white; /* White text */
        padding: 10px 24px;
        cursor: pointer;
        width: 47%;
        display: block; /* Make the buttons appear below each other */
    }

    .btn-group button:not(:last-child) {
        border-bottom: none; /* Prevent double borders */
    }

    /* Add a background color on hover */
    .btn-group button:hover {
        background-color: grey;
        cursor: pointer;
        cursor: hand;
    }
    .button1 {
        background-color: crimson;
        border: none;
        color: white;
        padding-left: 10px;
        padding: 8px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    * {
        box-sizing: border-box;
    }

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -16px;
    }

    .col-25 {
        -ms-flex: 25%;
        flex: 25%;
    }

    .col-50 {
        -ms-flex: 50%;
        flex: 50%;
    }

    .col-75 {
        -ms-flex: 75%;
        flex: 75%;
    }

    .col-25,
    .col-50,
    .col-75 {
        padding: 0 16px;
    }


    input[type=text] {
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    label {
        margin-bottom: 10px;
        display: block;
    }

    .icon-container {
        margin-bottom: 20px;
        padding: 7px 0;
        font-size: 24px;
    }

    .btn {
        background-color: #4CAF50;
        color: white;
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 100%;
        border-radius: 3px;
        cursor: pointer;
        font-size: 17px;
    }

    .btn:hover {
        background-color: #45a049;
    }

    a {
        color: #2196F3;
    }

    hr {
        border: 1px solid lightgrey;
    }

    span.price {
        float: right;
        color: grey;
    }

    @media (max-width: 800px) {
        .row {
            flex-direction: column-reverse;
        }
        .col-25 {
            margin-bottom: 20px;
        }
    }
</style>
</head>
<div class="row">
    <div class="col-75">
        <div class="container" style="background-color: #f2f2f2;
        padding: 5px 20px 15px 20px;
        border: 1px solid lightgrey;
        border-radius: 3px;">

            <div class="row">
                <div class="col-50">
                    <h3>Billing Address</h3>
                    <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Name Surname">
                    <label for="email"><i class="fa fa-envelope"></i> Email</label>
                    <input type="text" id="email" name="email" placeholder="something@example.com">
                    <i class="fa fa-address-card-o"></i> Address
                    <br>
                    <br>
                    <address id = "def_add">
                        ITU International Office<br>
                        Ayazaga Campus<br>
                        Registrator's Office Building<br>
                        Maslak 34469 Sariyer/Istanbul<br>
                    </address>
                    <br>
                    <button class="button button1" id="button1">Change the Address</button>
                    <!-- <form id="addressForm" action="/ChangeAdress" method = "post" display="none"> -->
                    <textarea id="newAdd" rows = "5" cols = "60" name = "description">defaultAddress</textarea>
                    <!-- defaultAdressi her seferinde güncelle  -->
                    <button class="button button1" id="button2" display="none">Ok</button>
                    <!-- </form> -->

                    <br>
                    <br>
                    <i class="fa fa-money"></i> Payment Menu
                    <br><br>
                    <div class="btn-group">
                        <button>Online</button>
                        <button>Cash</button>
                    </div>

                </div>

                <div class="col-50">
                    <h3>Payment</h3>
                    <label for="fname">Accepted Cards</label>
                    <div class="icon-container">
                        <i class="fa fa-cc-visa" style="color:darkred;"></i>
                        <i class="fa fa-cc-amex" style="color:darkred;"></i>
                        <i class="fa fa-cc-mastercard" style="color:darkred;"></i>
                        <i class="fa fa-cc-discover" style="color:darkred;"></i>
                    </div>
                    <label for="cname">Name on Card</label>
                    <input type="text" id="cname" name="cardname" placeholder="Name Surname">
                    <label for="ccnum">Credit card number</label>
                    <input type="text" id="ccnum" name="cardnumber" placeholder="XXXX-XXXX-XXXX-XXXX">
                    <div class="col-30">
                        <label for="expmonth">Expiry Month</label>
                        <select name="month" id="expmonth" placeholder="Month">
                            <option value ="1">01</option>
                            <option value ="2">02</option>
                            <option value ="3">03</option>
                            <option value ="4">04</option>
                            <option value ="5">05</option>
                            <option value ="6">06</option>
                            <option value ="7">07</option>
                            <option value ="8">08</option>
                            <option value ="9">09</option>
                            <option value ="10">10</option>
                            <option value ="11">11</option>
                            <option value ="12">12</option>
                        </select>
                    </div>
                    <br/>
                    <div class="col-30">
                        <label for="selectYear">Expiry Year</label>
                        <select id ="selectYear" name="month" placeholder="Year">
                            <option value ="1">01</option>

                        </select>
                    </div>
                    <br/>
                    <div class="col-30">
                        <label for="cvv">CVV</label>
                        <input type="number" id="cvv" min="0" pattern=".{3,4}" name="cvv" placeholder="XXX" autocomplete="off" tabindex="8">
                    </div>
                </div>

            </div>
            <br>
            <label>
                <input type="checkbox" checked="checked" name="sameadr"> Acceptance of general terms and conditions
            </label>
        </div>
    </div>
    <div class="col-25">
        <div class="container" style="background-color: #f2f2f2;
        padding: 5px 20px 15px 20px;
        border: 1px solid lightgrey;
        border-radius: 3px;">
            <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i></span></h4>
            <p>Subtotal <span class="price">${{ subtotal }}</span></p>
            <p>Discount<span class="price">${{ discount }}</span></p>
            <p>Shipping<span class="price">$0.0</span></p>
            <hr>
            <p>Total <span class="price" style="color:black"><b>${{ total }}</b></span></p>
            <button class="button button1">PAY</button>

        </div>
    </div>


</div>
<!--<script src="jquery-3.5.1.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        var $def_add = $('#def_add'); // document.getElementById("def_add")
        var $addressForm = $('#addressForm');
        var $newAdd = $('#newAdd');
        var $button2 = $('#button2');
        var $button1 = $('#button1');
        var $selectYear = $('#selectYear');

        $newAdd.hide()
        $button2.hide()

        $button1.click(function () {
            $def_add.hide(); // document.getElementById("def_add").style.display= "none";
            $addressForm.show();
            $newAdd.show();
            $button2.show();
            $button1.hide();

        })

        $button2.click(function () {
            var $new_val = $newAdd.val();
            $def_add.show();
            $def_add.text($new_val); // document.getElementById("def_add").innerHTML = document.getElementById("newAdd").value
            $newAdd.hide();
            $button1.show();
            $button2.hide();
            $addressForm.hide();

        })

        let options = ``;``
        let start = 2020;
        let end = 2055;
        for(let year = start ; year <=end; year++){
            options += `<option>${year}</option>`
        }
        $selectYear.html(options);


    });

</script>
{% endblock %}
